.toast {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 155px;
    right: 30px;
    
    text-align: center;
    box-sizing: border-box;
    padding: 0 25px;
    box-shadow: var(--shadow2);
    border-radius: var( --radius);
    height: 50px;
    width: 300px;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.toast--visible {
    opacity: 1;
    visibility: visible;
}

  
.toast--success {
    background-color: var(--successT);
    color: #000;
    font-weight: 600; 
}
  
.toast--warning {
    background-color: var(--warningT);
    color: #000
}

.toast--danger {
    background-color: var(--dangerT);
    color: #000
}