/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


*{margin:0; padding:0;}

:root{
    --background: #f9fbfd;
    --colorBox: #fff;
    --colorBox2: #222fb9;
    --colorBox3: #FCB12F;
    --blancoT: #ffffff45;
    --blancoT2: #ffffffe0;

    --menu: #222fb9;
    --colorModal: #28273fe0;
    --texto: #342e49;
    --texto2: #000;
    --texto3: #919191;

    --blanco: #fff;
    --blanco2: rgba(255, 255, 255, 0.8);

    --font:'Montserrat', sans-serif;;
    --lines: #9d86ff;
    --lines2: #001fbd;
    --shadow: 5px 4px 9px 0px #d3d3d3e0;
    --shadow2: -8px 8px 14px 0 rgb(12 18 27 / 24%);
    --radius: 20px;

    --primary: #222fb9;
    --secondary: #d9c400;
    --success: #1b9728;
    --warning: #ff7a01;
    --danger: #fe0100;

    --primaryT: #3f87f520;
    --secondaryT: #9d86ff20;
    --successT: #00e3bc20;
    --warningT: #ffc10720;
    --dangerT: #e2584c20;



    /* --azul: #161d31;
    --blue: #00cfe8;
    --indigo: #6610f2;
    --purple: #7367f0;
    --pink: #e83e8c;
    --red: #ea5455;
    --orange: #ff9f43;
    --yellow: #ffc107;
    --green: #28c76f;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #b8c2cc;
    --gray-dark: #1e1e1e;
    --primary: #7367f0;
    --secondary: #82868b;
    --info: #00cfe8;
    --danger: #ea5455;
    --light: #f6f6f6;
    --dark: #4b4b4b; */

}

body {
    background-color: var(--background);
    font-size: 16px;
    font-family: var(--font);
    color: var(--texto);
    font-weight: 600;
    margin: 0;
    overflow: inherit;
    max-height: 100vh;
}

h1, h2{
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1em;
    color: var(--texto2);

}

h3 {
    font-weight: 600;
    margin-top: 0;
    margin-bottom: .5rem;
    color: var(--texto);
    text-transform: uppercase;
    font-size: 1em;
}

h4, h5, h6{
    margin: 0;
    color: var(--texto);
    font-weight: 400;
}

h6.alert{
    color: var(--warning);
}

h6{
    font-weight: 600;
    
}

/* colores texto */

.primary{
    color: var(--primary);
}

.secondary{
    color: var(--secondary);
}

.success{
    color: var(--success);
}

.warning{
    color: var(--warning);
}

.danger{
    color: var(--danger);
}

.bg-warning{
    background-color: var(--colorBox3)!important;
}

/* img{
    visibility: visible!important;
} */



/* links */
a{color:var(--texto); text-decoration:none;}
a:hover{color:var(--texto2); text-decoration: none;}

.link{
    color:var(--primary);
    /* font-weight: 600; */
}

li{list-style: none;}

/* container */
.container {
    max-width: 97%;
    margin: 0 auto;
    box-sizing: border-box; 
}

/* contenedor buttons */

.box-buttons {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    text-align: center;
}

.box-buttons2{
    grid-template-columns: 1fr 1fr;
}

.box-buttons3{
    grid-template-columns: 1fr 1fr 1fr;
}

.box-buttons4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box-buttons5{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

/* botones */

.button {
    box-sizing: border-box;
    padding: 15px 30px;
    min-width: 150px;
    margin: 10px;
    cursor: pointer;
    border-top: none;
    border-bottom: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button svg,
.button img {
    margin-left: 15px;
}

.button1{
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--blanco);
}

.button2 {
    border: 2px solid var(--warning);
    background-color: var(--warning);
    color: var(--blanco);
}

.button3 {
    border: 2px solid var(--danger);
    background-color: var(--danger);
    color: var(--blanco);
}

.button4{
    border: 1px solid var(--texto);
    background-color: transparent;
}

.buttonN {
    background-color: transparent;
    border: none;
    color: var(--texto);
}

.pointer{
    cursor: pointer;
}


/* generales */

.box {
    box-sizing: border-box;
    padding: 20px 30px 30px 30px;
    background-color: var(--colorBox);
    margin-bottom: 20px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.center{
    text-align: center;
}

.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.between{
    display: flex;
    justify-content: space-between;
}

.full{
    width: 100%;
}

.m0, .mar0{
    margin: 0!important;
}

.pad0{
    padding: 0!important;
}

.relative{
    position: relative;
}

.grid{
    display: grid;
    grid-gap: 20px;
} 

.grid-2{
    grid-template-columns: 1fr 1fr;
}

.grid-3{
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-5{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-6{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* imgs y svgs */

.border-icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #d9dcec;
}

.border-icon2 {
    padding: 5px;
    border-radius: 7px;
    border: 1px solid var(--primary);
}

.tamano-icon svg{
    font-size: 25px;
    color: var(--primary);
}

/* titulos */

.box-title {
    box-sizing: border-box;
    padding: 15px 30px;
    background-color: var(--colorBox);
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}

.box-grid {
    display: grid;
    grid-template-columns: 28% 44% 28%;
}

.box-grid .title-page {
    display: flex;
    align-items: center;
}

.box-grid .title-page h2 {
    margin: 0;
}

/* scroll */

.scroll {
    overflow-y: scroll;
    height: calc(100vh - 90px);
}

.scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 9px;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #b145cf;
    border-radius: 4px;
    transition-delay: 1s;
}

.scroll:hover::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb:hover {
    /* background-color: #a724ff; */
    transition-delay: 1s;
}

/* menu principal */

.menu {
    box-sizing: border-box;
    padding: 60px 0px 20px 0px;
    background-color: var(--menu);
    display: inline-block;
}

.menu ul li {
    margin: 0 20px;
}

.menu ul li a {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 25px 15px 25px;
    position: relative;
    display: flex;
    color: var(--blanco2);
    margin: 0;
    border-left: 2px solid transparent;
    align-items: center;
}

.menu ul li a .icon-menu {
    text-align: center;
    width: 45px;
    font-size: 22px;
    margin-right: 20px;
}

.menu ul li .linea {
    border-bottom: 1px solid var(--blanco2);
}

/* .menu ul li a svg {
    margin-right: 30px;
} */

.menu ul li .router-link-active.router-link-exact-active {
    background-color: var(--blancoT);
    color: var( --blanco);
    /* border-right: 3px solid var(--primary); */
    border-radius: 30px;
}


/* forms */

.form{
    padding: 20px;
}

.form2{
    padding: 0!important;
}

.desc-form {
    color: var(--text);
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
}

.form .form-box {
    display: grid;
    grid-gap: 15px 50px;
    margin-bottom: 35px;
}

.form .form-box1{
    grid-template-columns: 1fr;
}

.form .form-box2{
    grid-template-columns: 1fr 1fr;
}

.form .form-box3{
    grid-template-columns: 1fr 1fr 1fr;
}

.form .form-box4{
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form .form-box .input label {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.form .form-box .input input[type="text"]{
    width: 100%;
}

.form .input {
    position: relative;
}

.form h6 {
    margin: 0;
    color: var(--danger);
}

.table-list {
    padding: 10px 0;
}

/* form input edit */

.form .show-edit {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    box-sizing: border-box;   
}

.form .show-edit label {
    margin: 0;
}

.form .show-edit p {
    margin: 0 10px;
}

.form .show-edit .box-showEdit {
    height: 40px;
    display: flex;
    align-items: center;
}


.form .show-edit-m {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    box-sizing: border-box;   
}

.form .show-edit-m label {
    margin: 0;
}

.form .show-edit-m p {
    margin: 0 10px;
}

.form .show-edit-m .box-showEdit {
    height: 40px;
    display: flex;
    align-items: center;
}


.form .show-edit .box-showEdit span {
    width: 100%;
}

/* input, optgroup, select, textarea {
    border: none;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    background-color: transparent;
    border-bottom: 2px solid var(--lines);
    padding: 5px 8px;
    color: var( --texto);
    width: 100%;
} */

input, optgroup, select, textarea {
    border: none;
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    background-color: transparent;
    border: 1px solid var(--primary);
    padding: 8px 10px;
    color: var( --texto);
    width: 100%;
    border-radius: 20px;
}

input::placeholder{
    color: var(--texto3);
}

select option{
    color: #000;
}

/* checkbox */

.check {
    position: relative;
    margin: 5px;
    float: left;
    border: 2px solid var(--lines);
    box-sizing: border-box;
    border-radius: var( --radius);
    overflow: hidden;
}
  
.check .desc-check {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    transition: .5s ease;
    padding: 10px 0;
}
  
.check input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
}
  
input[type=checkbox]:checked ~ div {
    background-color: var(--primary);
    border-radius: var( --radius);
    overflow: hidden;
    color: #fff;
}



/* tables */

table.table {
    width: 100%;
    border-radius: 35px;
    overflow: hidden;
}

table.table thead{
    background-color: var(--colorBox3);
}

table.table thead th{
    color: var(--blanco);
}

table.table tr th {
    /* border-bottom: 2px solid var(--lines); */
    text-transform: uppercase;
}

table.table thead tr th{
    box-sizing: border-box;
    padding: 20px 20px;
}

table.table tbody tr td {
    box-sizing: border-box;
    padding: 25px 20px;
}

table.table tr .table-icons {
    width: 150px;
    text-align: center;
}

table.table tr .table-icons .icon-action {
    width: 16px;
    margin: 0 5px;
}

table.table tr .table-icons span{
    color: var(--danger);
}

table.table tr .table-icons a{
    color: var(--primary);
}


table.table2 {
    width: 100%;
}

table.table2 tr{
    border-bottom: 1px solid var(--lines);
    box-sizing: border-box;
}

table.table2 tr th, table.table2 tr td {
    box-sizing: border-box;
    padding: 7px 10px;
}


/* tabs */

.tabs {
    text-align: center;
}

.tabs .items {
    display: inline-block;
    margin: 0 10px;
    transition: .3s;
    width: 110px;
    color: var(--primary)
}

.tabs .items:hover {
    cursor: pointer;
}

/* .tabs .items svg {
    width: 30px;
} */

.tabs .items h6{
    margin-top: 5px;
    transform: scale(0.7);
    transition: .3s;
}

.tabs .items svg {
    font-size: 20px;
}

/* .tabs .items:hover h6, */
.tabs .tabs-item-active h6{
    transform: scale(1);
    transition: .3s;
}



